<h1>List of Persons</h1>
<hr>

<div class="row">
    <div class="col text-right">
        <button routerLink="/person/new" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            New
        </button>
    </div>

</div>
<table *ngIf="!loading && persons.length > 0" 
       class="table mt-3 animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Sex</th>
            <th scope="col">E-mail</th>
            <th scope="col">Created</th>
            <th scope="col">Tools</th>
        </tr>
    </thead>
    <tbody>
       <!--  <tr *ngFor="let person of personsService.persons; let i=index"> -->
         <tr *ngFor="let person of persons; let i=index"> 
            <th scope="row">{{ i + 1}}</th>

            <td>{{person[i].name}}</td>
            <td>{{person[i].lastname}}</td>
            <td>{{person[i].dateofbirth}}</td>
            <td>{{person[i].sex}}</td>
            <td>{{person[i].email}}</td>
            <td>{{person[i].created}}</td>
            <td>
                <button class="btn btn-info mr-1" [routerLink]="[ '/person', person[i]._id ]">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="deletePerson(person, i)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!loading && persons.length === 0" 
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Not data found</h4>
    <p>
        <i class="fas fa-exclamation fa-2x"></i>
        <p>
</div>
<div *ngIf="loading" 
     class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Loading...</h4>
    <p>

        <i class="fas fa-circle-notch  fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Please wait
    </p>
</div>